<castle>
  <facilities>
    <facility id="startable.facility" type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor" />
    <facility id="quartznet"
              type="Castle.Facilities.Quartz.QuartzFacility, Castle.Facilities.Quartz">
      <globalJobListeners>
        <item>${globalJobListener}</item>
      </globalJobListeners>
      <globalTriggerListeners>
        <item>${globalTriggerListener}</item>
      </globalTriggerListeners>
      <schedulerListeners>
        <item>${sampleSchedulerListener}</item>
      </schedulerListeners>
      <jobListeners>
        <job name="hello-world">
          <listener>${sampleJobListener}</listener>
        </job>
      </jobListeners>
      <triggerListeners>
        <trigger name="sample-trigger">
          <listener>${sampleTriggerListener}</listener>
        </trigger>
      </triggerListeners>
      <quartz>
        <item key="quartz.scheduler.instanceName">XmlConfiguredInstance</item>
        <item key="quartz.threadPool.type">Quartz.Simpl.DefaultThreadPool, Quartz</item>
        <item key="quartz.threadPool.threadCount">5</item>
        <item key="quartz.plugin.xml.type">Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz.Plugins</item>
        <item key="quartz.plugin.xml.scanInterval">10</item>
        <item key="quartz.plugin.xml.fileNames">~/quartz_jobs.xml</item>
      </quartz>
    </facility>
  </facilities>
  <components>
    <component id="globalJobListener"
               type="Castle.Facilities.Quartz.SampleApp.SampleJobListener, Castle.Facilities.Quartz.SampleApp">
      <parameters>
        <name>Global job listener</name>
      </parameters>
    </component>
    <component id="sampleJobListener"
               type="Castle.Facilities.Quartz.SampleApp.SampleJobListener, Castle.Facilities.Quartz.SampleApp" />
    <component id="globalTriggerListener"
               type="Castle.Facilities.Quartz.SampleApp.SampleTriggerListener, Castle.Facilities.Quartz.SampleApp">
      <parameters>
        <name>Global trigger listener</name>
      </parameters>
    </component>
    <component id="sampleTriggerListener"
               type="Castle.Facilities.Quartz.SampleApp.SampleTriggerListener, Castle.Facilities.Quartz.SampleApp" />
    <component id="sampleSchedulerListener"
               type="Castle.Facilities.Quartz.SampleApp.SampleSchedulerListener, Castle.Facilities.Quartz.SampleApp" />
    <component id="sampleJob"
               type="Castle.Facilities.Quartz.SampleApp.SampleJob, Castle.Facilities.Quartz.SampleApp" />
  </components>
</castle>