<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <castle>
    <facilities>
      <facility id="startable.facility" type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor"/>
      <facility id="quartznet">
        <globalJobListeners>
          <item>${globalJobListener}</item>
        </globalJobListeners>
        <globalTriggerListeners>
          <item>${globalTriggerListener}</item>
        </globalTriggerListeners>
        <schedulerListeners>
          <item>${sampleSchedulerListener}</item>
        </schedulerListeners>
        <jobListeners>
          <job name="hello-world">
            <listener>${sampleJobListener}</listener>
          </job>
        </jobListeners>
        <triggerListeners>
          <trigger name="sample-trigger">
            <listener>${sampleTriggerListener}</listener>
          </trigger>
        </triggerListeners>
        <quartz>
          <item key="quartz.scheduler.instanceName">XmlConfiguredInstance</item>
          <item key="quartz.threadPool.type">Quartz.Simpl.SimpleThreadPool, Quartz</item>
          <item key="quartz.threadPool.threadCount">5</item>
          <item key="quartz.threadPool.threadPriority">Normal</item>
          <item key="quartz.plugin.xml.type">Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz</item>
          <item key="quartz.plugin.xml.scanInterval">10</item>
        </quartz>
      </facility>
    </facilities>
    <components>
      <component id="globalJobListener" type="SampleApp.SampleJobListener, SampleApp"/>
      <component id="sampleJobListener" type="SampleApp.SampleJobListener, SampleApp"/>
      <component id="globalTriggerListener" type="SampleApp.SampleTriggerListener, SampleApp"/>
      <component id="sampleTriggerListener" type="SampleApp.SampleTriggerListener, SampleApp"/>
      <component id="sampleSchedulerListener" type="SampleApp.SampleSchedulerListener, SampleApp"/>
      <component id="sampleJob" type="SampleApp.SampleJob, SampleApp"/>
    </components>
  </castle>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
